<p id="notice"><%= notice %></p>

<h1>Banglas</h1>

<table>
  <thead>
    <tr>
      <th>Khawa</th>
      <th>Mangso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banglas.each do |bangla| %>
      <tr>
        <td><%= bangla.khawa %></td>
        <td><%= bangla.mangso %></td>
        <td><%= link_to 'Show', bangla %></td>
        <td><%= link_to 'Edit', edit_bangla_path(bangla) %></td>
        <td><%= link_to 'Destroy', bangla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bangla', new_bangla_path %>
