<p id="notice"><%= notice %></p>

<p>
  <strong>Khawa:</strong>
  <%= @bangla.khawa %>
</p>

<p>
  <strong>Mangso:</strong>
  <%= @bangla.mangso %>
</p>

<%= link_to 'Edit', edit_bangla_path(@bangla) %> |
<%= link_to 'Back', banglas_path %>
